
<ul>
    <li>
        <p>{{ task.name }} <strong>Category: {{ task.category.name }}</strong></p>
        <p>Start Date: {{ task.startDate|date('Y-m-d H:m') }} Finish Date: {{ task.finishDate|date('Y-m-d H:m') }}</p>
    </li>
</ul>